.main__body {
  margin-top: 156px;
  display: flex;
  height: calc(100vh - 156px);
  background-color: #1b1d22;
  box-sizing: border-box;
}

.main__content {
  width: 100%;
}

@media (min-width: 768px) {
  .main__content {
    margin-left: 350px;
  }

  .main__body {
    margin-top: 86px;
    height: calc(100vh - 86px);
  }
}
