.search {
  width: 100%;
  order: 3;
  margin-top: 30px;
  height: 40px;
}

.search .wrapper {
  border-radius: 10px !important;
}

@media (min-width: 768px) {
  .search {
    width: 320px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 135px;
  }
}
